language: node_js
node_js:
  - '0.10'
before_install:
  - npm install -g grunt-cli
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
script:
  - grunt ci karma:sauce1 karma:sauce2
addons:
  sauce_connect: true
env:
  global:
    - SAUCE_USERNAME=rkistner
    - secure: "gM4pKFx/SFXtggvlRERWGceQMsgAtgeDpRInKQeYk0+iwnkxuvon9XNu1LZJ1Ft/u2fje7XrYtGrPeYU62nWUvyE3vIGK6j52g3EJXBdJmN35j+0K4C9M50L0C4cQWyQSVTd3fggHqs9+3PcGokDsfep4l3hsKCu088YGDY3A5U="
