version: 2
jobs:
  build:
    docker:
      - image: circleci/node:12.6.0-browsers
    steps:
      - checkout
      - run: yarn install --frozen-lockfile
      - run: yarn lint
      - run: yarn build
      - run: yarn test
      - run: yarn test:browsers
